.pro_p{margin: 10px auto;padding-left: 10px;background: #fff68f;height: 30px;line-height: 30px;color: red;}
.home_pro{width: 620px;margin: 0 auto;}
.home_pro li{display: block;margin-bottom: 10px;width: 620px;height: 170px;background: #fff no-repeat 590px 73px;overflow: hidden;}
.home_pro li a{display: block;width: 100%;height: 100%;}
a{text-decoration: none;cursor: pointer;}
.home_pro_img{float: left;height: 100px;padding: 35px 20px;}
.home_pro_img img{width: 100px;height: 100px;}
.home_pro_r{float: left;height: 90px;padding-bottom: 5px;}
.home_pro_title{width: 100%;margin-top: 30px;font-size: 28px;height: 30px;line-height: 30px;color: #111;overflow: hidden;}
.home_pro_txt1{width: 480px;margin-top: 5px;font-size: 22px;height: 48px;display: table;color: #bbb;overflow: hidden;}
.home_pro_txt1 div{display: table-cell;vertical-align: middle;}
.home_pro_txt2{width: 100%;margin-top: 5px;font-size: 22px;height: 24px;line-height: 24px;color: #bbb;overflow: hidden;}
.fl{float: left;}
.w260{width: 260px;}
.c_fb4e44{color: #fb4e44;}
.pl10{padding-left: 10px;}
.tag{background: #ff9e50;right: 10px;position: absolute;top: 0;display: block;height: 30px;line-height: 30px;padding: 0 10px;color: #fff;border-radius: 0 0 5px 5px;}
